:root {
    --primary-color: #272E6D;
    --secondary-color: #179FDA;
    --Background-color: #120F1E;
    --third-color: #664885;
    --extra-color: #B336BE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Background-color);
    font-family: 'Figtree', sans-serif;
}

/* header styles */

.header-container {
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(23, 159, 218, 1),
        0px 2px 4px rgba(23, 159, 218, 1),
        0px 4px 8px rgba(23, 159, 218, 1),
        0px 8px 16px rgba(23, 159, 218, 1);

    width: 100%;
    z-index: 21;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.header-nav {
    padding: 16px;
    width: 70%;
    margin-right: 10%;
}

.header-nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav__item {
    font-family: 'mayeka_regular_demoregular', sans-serif;
}

.header-nav__item a {
    text-decoration: none;
    display: block;
    color: #fff;
    display: block;
    width: 100%;
}

/* ----------------------------- */
/*     first section styles      */
.first-section {
    position: relative;
    top: 0;
}

.first-section .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/kii_image_two.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
}

.floating-btn {
    position: fixed;
    bottom: 8%;
    right: 2%;
    /* transform: translateX(-50%); */
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
}

.floating-btn img {
    width: 30px;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.01);
    }
}

/* ----------------------------- */
/*     aside section styles      */

.aside-container {
    position: fixed;
    padding: 2%;
    padding-bottom: 0;
    z-index: 20;
    width: 15%;
    height: 100vh;
    top: 0;
    background-color: rgba(18, 15, 30, 0.2);
    display: flex;
    flex-direction: column;
}

.aside-logo__img {

    margin-top: 8%;

}

.aside-logo {
    margin-top: 50px;
}

.aside-nav {
    width: 100%;
}

.aside-nav__item {

    margin-bottom: 30px;
}

.aside-nav__item .active {
    color: var(--secondary-color);

}

.aside-nav__list {
    list-style: none;

    margin-top: 50px;

    font-size: 30px;
}



.aside-nav__list a {
    text-decoration: none;
    color: #fff;
}

.aside-circuit {
    width: 100%;

    object-fit: cover;
    margin-top: auto;
}

.aside-circuit img {
    width: 80%;


}


/* ----------------------------- */
/*     second section styles     */

.second-section {
    margin-left: 15%;
    padding: 4.5%;
    padding-right: 10%;

    background-image: linear-gradient(116deg, rgba(18, 15, 30, 1) 14%, rgba(81, 61, 113, 0.5) 64%), url(../assets/blick.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section>p {
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: #fff;
    font-weight: 100;
}

.second-section h2 {
    padding: 1rem;
    color: var(--third-color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-around;


    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    width: 100%;

}

.card {
    max-width: 400px;
    padding: 1.25rem;
    /* border: 2px var(--secondary-color) solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;

    /* For animations card */
    position: relative;
    overflow: hidden;
    transition: 1.5s ease-in-out;

}

/* start animations  card */

.card::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 200%;
    background: linear-gradient(var(--secondary-color), var(--extra-color));
    animation: rotate 10s 5s linear infinite;

}

.card:hover {
    transform: scale(1.1);
}


.card::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    inset: 3px;
    border-radius: 30px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* end animations card */

.second-section__content {
    display: flex;
}

.card-container p {
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
    z-index: 2;

}

.wrapper {
    width: 80px;
    height: 80px;
    padding: 8px;
    margin-bottom: 16px;
    z-index: 2;
}

.svg-money__item,
.svg-lock__item,
.svg-bolt__item {
    fill: var(--secondary-color)
}

/* ----------------------------- */
/*     third section styles      */


.third-section {
    margin-left: 15%;
    padding: 4.5%;
    padding-right: 10%;
    background-image: url(../assets/Meteor.svg);
    background-size: cover;

}

.third-section__content {
    display: flex;
    align-items: center;
    gap: 1rem;


}

.third-section .third-section__content p {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 100;

}

.third-section .third-section__content h2 {
    padding: 1rem;
    color: var(--third-color);
    font-size: 3rem;
    text-align: center;

    width: 100%;
}




/* ----------------------------- */
/*     fourth section styles     */


.fourth-section {
    margin-left: 15%;
    padding: 4.5%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

    /* gradiente text */
    background: radial-gradient(var(--extra-color),
            var(--secondary-color)) fixed;
    background: conic-gradient(var(--extra-color),
            var(--secondary-color),
            var(--extra-color)) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img_phone__container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.img_phone__container img {
    width: 80%;
    flex-shrink: 0;
}

.fourth-section h2 {
    padding: 1rem;
    color: var(--third-color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;

}

.fourth-section__content .download-buttons,
.app-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}



.app-buttons button {
    display: inline-block;
    padding: 16px;
    min-width: 240px;
    font-size: 1.8rem;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    background: none;
    color: #fff
}

/* ----------------------------- */
/*       footer  styles          */

footer {
    position: relative;
    bottom: 0;
    height: 70px;
    padding: 30px;
    width: 100%;
    z-index: 33;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ----------------------------- */
/*              Media            */

@media screen and (max-width : 750px) {
    .third-section__content {
        flex-direction: column;
    }

    .app-buttons button {
        margin-bottom: 30px;
    }

    .download-buttons img {
        margin-bottom: 30px;
    }


    .floating-btn {
        width: 45px;
        height: 45px;
        right: 3%;
        bottom: 3%;
        z-index: 30;
        opacity: 0.5;
    }

    .floating-btn img {
        width: 20px;
    }
}